/* Import fonts from fonts.css */
@import './fonts.css';

/* CSS Variables */
@import url('./partials/_variables.css');

/* Import _global sytyling */
@import url('./partials/_global.css');

/* Start Navigation */
.header_area .main-menu .navbar .navbar-brand {
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar {
    padding: 1rem 7.5rem;
}

.header_area .main-menu .nav-item .nav-link {
    font: normal 500 15px/2px var(--montserrat);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* End Navigation */

/* Start Banner Area */
.site-main .site-banner {
    background: url(../img/home-banner.png);
    background-position: center;
    min-height: 80vh;
}

.site-main .site-banner .site-title h1{
    padding-top: 20%;
    font-weight: 700;
    font-size: 3rem;
}

.site-main .site-banner .site-title h3 {
    font-size: 1.2rem;
}

.site-main .site-banner .site-title h3::after {
    content: '';
    height: 2px;
    width: 2rem;
    background: black;
    display: block;
    margin-left: 1%;
}

.site-main .site-banner .site-title p {
    font-size: 1rem;
    font-style: italic;
}

.site-main .site-banner .banner-image > img {
    padding: 4.5rem 1.5rem;
}

/* End Banner Area */

/* Start Gallery Area */
.site-main .gallery-area {
    padding: 8rem 5rem;
}

.site-main .gallery-area .gallery-title h2 {
    display: block;
    letter-spacing: 3px;
    font: normal bold 40px/ 60px var(--montserrat);
}

.site-main .gallery-area .gallery-title .paragraph > p {
    padding: .4rem 0;
}

/* End Gallery Area */


/* End Gallery Area */

.site-main .mission-area {
    padding: 1rem 10rem;
    margin-bottom: 10rem;
}

.site-main .mission-area .mission-title h2 {
    font: normal bold 40px/ 60px var(--montserrat);
    letter-spacing: 3px;
}

.site-main .mission-area .single-mission {
    padding: 2rem 2rem 1rem 1.5rem;
    margin: .75rem;
    border: 0.1px solid gainsboro;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-main .mission-area .single-mission:hover {
    box-shadow: var(--box-shadow);
}

.site-main .mission-area .single-mission i {
    margin-bottom: 1rem;
}


/* End Gallery Area */
